name: run unittests & doctests
on: ["push"]
jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - name: Install dependencies
        run: pip install -r requirements.txt
      - run: python -m unittest discover -v -s test
      - run: python -m doctest -v *.py
